{% extends 'base.html' %}

{% block content %}
    <!-- Page header with logo and tagline-->
    {% comment %} <header class="py-3 bg-light border-bottom mb-5">
        <div class="container">
            <div class="text-center ">
                <h1 class="fw-bolder">Bienvenue {{user.username}} !</h1>
            </div>
        </div>
    </header> {% endcomment %}
    <div class="container p-0">
        <div class="row mb-2">
          <h1 class="col-8 py-2 mb-0">
            {% if posts %}
              {{ title }}
            {% endif %}
          </h1>
          <div class="btn-group col py-2 mt-2 mb-1" role="group">
            <a type="button" class="btn btn-primary" href="{% url 'ticket_create' %}">Demander une critique</a>
            <a type="button" class="btn btn-success" href="{% url 'review_create' %}">Publier une critique</a>
          </div>
        </div>
      </div>

      {% if posts %}

  {% for post in posts %}

    {% if post.content_type == 'REVIEW' %}
        {% include 'blog/review/review_snippet.html' %}
    {% elif post.content_type == 'TICKET' %}
        {% include 'blog/review/ticket_snippet.html' %}
    {% endif %}

  {% endfor %}
  {% endif %}
    <!-- Page content-->

    <!-- Pagination-->
  {% include 'blog/layout/pagination.html' with page=page_obj %}

{% endblock content %}