<div class="card mb-4 border-secondary-subtle border-2">
    <div class="card-header border-secondary-subtle h5">{{post.user}} a demandé une critique</div>
    <div class="row g-0 align-items-center">
    {% if post.picture %}
        <div class="col-2" style="overflow: hidden;">
            <img src="{{ post.picture.url }}" class="img-fluid object-fit-cover rounded-start" style="height: 100%;" alt="{{ post.title }}">
        </div>
    {% else %}
        <div class="col-2 text-center">
            <i class="bi bi-book h1 text-primary"></i>
        </div>
    {% endif %}

        <div class="col-6 me-auto border-end border-secondary-subtle border-1">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.body|truncatechars:250 }}</p>
                <p class="card-text"><small class="text-muted">{{ post.time_created|date:"d/m/y, H:i" }} -- {{post.user}}</small></p>
                <a class="btn btn-primary btn-sm" href="{% url 'ticket_detail' post.id %}">Voir plus...</a>
            </div>
        </div>
        <div class="col-4">
            <div class="card-body border-1">
                {% if post.has_review is False %}
                    <p class="card-text">Vous voulez répondre ?</p>
                    <a class="btn btn-success" href="{% url 'ticket_respond' post.id %}">Poster une critique</a>
                {% else %}
                <p class="card-text">Ce ticket a déjà reçu une réponse</p>
                <a class="btn btn-primary" href="{% url 'ticket_detail' post.id %}">Voir la critique</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>