{% extends 'base.html' %}

{% block content %}
    <div class="container px-5 my-5">
        <form method="POST"> 
            {% csrf_token %}
            <div class="form-floating mb-3">
                {{ticket_form.title}}
                <label for={{ticket_form.title.id_for_label}}>Titre</label>
            </div>
            <div class="form-floating mb-3">
                {{ticket_form.body}}
                <label for={{ticket_form.body.id_for_label}}>Description</label>
            </div>
            <div class="d-grid">
                <button class="btn btn-primary btn-lg mt-3" id="submitButton" type="submit">Submit</button>
            </div>
        </form>
        {{ticket_form.errors}}
    </div>
{% endblock content %}