{% extends 'base.html' %}

{% block content %}
    <div class="container px-5 my-5">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% if not ticket %}
                <div class="form-floating mb-3">
                    {{ticket_form.title}}
                    <label for={{ticket_form.title.id_for_label}}>Titre du ticket</label>
                </div>
                <div class="form-floating mb-3">
                    {{ticket_form.body}}
                    <label for={{ticket_form.body.id_for_label}}>Description</label>
                </div>
                <div>
                    {{ticket_form.picture}}
                </div>
                <hr>
            {% else %}
             
            <div class="container mb-4">
                Réponse au ticket suivant :
                <div class="row">
                    <article>
                    <!-- Post header-->
                        <header class="mb-4">
                        <!-- Post title-->
                            <h1 class="fw-bolder mb-1">{{ticket.title}}</h1>
                        <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">{{ticket.time_created|date:"d/m/y, H:i" }} par {{ticket.user}}</div>
                        </header>
                    <!-- Preview image figure-->
                        {% if ticket.picture %}
                        <figure class="mb-4"><img class="pe-4 img-fluid float-start rounded" src="{{ ticket.picture.url }}" alt="{{ ticket.title }}" /></figure>
                        {% endif %}
                    <!-- Post content-->
                        <section class="px-4 mb-5">
                            <p class="fs-5 mb-4">{{ticket.body}}</p>
                        </section>
                    </article>
                </div>
            </div>
            <hr>
            {% endif %}

            <div class="form-floating mb-3">
                {{review_form.headline}}
                <label for={{review_form.headline.id_for_label}}>Titre de la critique</label>
            </div>
            <div class="form-floating mb-3">
                {{review_form.body}}
                <label for={{review_form.body.id_for_label}}>Description</label>
            </div>
            <div class="mb-3">
                <label class="form-label d-block" for={{review_form.rating.id_for_label}}>Note</label>
                {% for radio in review_form.rating %}
                <div class="form-check form-check-inline">
                    {{ radio }}
                </div>
                {% endfor %}
            </div>
            <div class="d-grid">
                <button class="btn btn-primary btn-lg mt-4" id="submitButton" type="submit">Submit</button>
            </div>
        </form>
{% endblock content %}