{% extends 'base.html' %}


{% block content %}
    <!-- Page header with logo and tagline-->
    {% comment %} <header class="py-3 bg-light border-bottom mb-5">
        <div class="container">
            <div class="text-center ">
                <h1 class="fw-bolder">Bienvenue {{user.username}} !</h1>
            </div>
        </div>
    </header> {% endcomment %}
    <div class="container p-0">
        <div class="row mb-2">
          <h1 class="col-8 py-2 mb-0">
            {% if posts %}
              {{ title }}
            {% endif %}
          </h1>
          <div class="btn-group col py-2 mt-2 mb-1" role="group">
            <a type="button" class="btn btn-primary" href="{% url 'ticket_create' %}">Create Ticket</a>
            <a type="button" class="btn btn-success" href="{% url 'review_create' %}">Write Review</a>
          </div>
        </div>
      </div>

      {% if posts %}

  {% comment %} {% include 'reviews/_pagination.html' %} {% endcomment %}

  {% for post in posts %}

    {% if post.content_type == 'REVIEW' %}
      {% include 'blog/review/review_snippet.html' %}
    {% elif post.content_type == 'TICKET' %}
      {% include 'blog/review/ticket_snippet.html' %}
    {% endif %}

  {% endfor %}
  {% endif %}
    <!-- Page content-->
    <div class="container">
        <div class="row">
            {% for ticket in tickets %}
            <div class="card mb-3" >
                <div class="row g-0">
                    <div class="col-md-2">
                        <img src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-5">
                        <div class="card-body">
                            <h5 class="card-title">{{ticket.title}}</h5>
                            <p class="card-text">{{ticket.body|truncatechars:150}}</p>
                            <p class="card-text"><small class="text-muted">{{ticket.time_created|date:"H:i, F d Y"}}</small></p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card-body">
                            {% if ticket.review_id %}
                            <a class="btn btn-secondary" href="{% url 'ticket_detail' ticket.id %}">Lire la critique</a>
                            {% else %}
                                <a class="btn btn-primary" href="{% url 'ticket_respond' ticket.id %}">Envoyer une critique</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- Pagination-->
                {% include 'blog/layout/pagination.html' with page=page_obj %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}