<div class="card mb-3">
    <div class="card-header h5">{{post.user}} a posté une nouvelle critique</div>
    <div class="row g-0">
        {% if post.ticket.picture %}
        <div class="col-2" style="overflow: hidden;">
            <img src="{{ post.ticket.picture.url }}" class="img-fluid rounded-start" style="height: 100%; object-fit: cover;" alt="{{ post.title }}">
        </div>
        {% endif %}
        <div class="col-6 me-auto">
            <div class="card-body">
                <h5 class="card-title">{{ post.ticket.title }}</h5>
                <p class="card-text">{{ post.ticket.body|truncatechars:200 }}</p>
                <p class="card-text"><small class="text-muted">{{ post.ticket.time_created|date:"H:i, F d, Y" }} by {{post.user}}</small></p>
                {% if post.user == user %}
                    <a type="button" class="btn btn-primary btn-sm" href="{% url 'ticket_edit' post.id %}">Modifier</a>
                    <a type="button" class="btn btn-secondary btn-sm" href="{% url 'ticket_delete' post.id %}">Supprimer</a>
                {% endif %}
            </div>
        </div>
        <div class="col-4">
            <div class="card-body">
                <h5 class="card-title">{{ post.headline }}</h5>
                <p class="card-text">{{ post.body|truncatechars:200 }}</p>
                <p class="star-rating" id="stars">
                    <i class="bi {% if post.rating > 0 %}bi-star-fill{% else %}bi-star{% endif %}"></i>
                    <i class="bi {% if post.rating > 1 %}bi-star-fill{% else %}bi-star{% endif %}"></i>
                    <i class="bi {% if post.rating > 2 %}bi-star-fill{% else %}bi-star{% endif %}"></i>
                    <i class="bi {% if post.rating > 3 %}bi-star-fill{% else %}bi-star{% endif %}"></i>
                    <i class="bi {% if post.rating > 4 %}bi-star-fill{% else %}bi-star{% endif %}"></i>
                  </p>
                <p class="card-text"><small class="text-muted">{{ post.time_created|date:"H:i, F d, Y" }} by {{post.user}}</small></p>
                {% if post.user == user %}
                    <a type="button" class="btn btn-primary btn-sm" href="{% url 'review_edit' post.id %}">Modifier</a>
                    <a type="button" class="btn btn-secondary btn-sm" href="{% url 'review_delete' post.id %}">Supprimer</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>