<div class="card mb-4 border-secondary-subtle border-2">
    <div class="card-header border-secondary-subtle h5">{{post.user}} a demandé une critique</div>
    <div class="row g-0">
        <div class="col-2 " style="overflow: hidden;">
        {% if post.picture %}
            <img src="{{ post.picture.url }}" class="img-fluid object-fit-cover rounded-start" style="height: 100%;" alt="{{ post.title }}">
        {% endif %}
        </div>
        <div class="col-6 me-auto">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.body|truncatechars:200 }}</p>
                <p class="card-text"><small class="text-muted">{{ post.time_created|date:"d/m/y, H:i" }} -- {{post.user}}</small></p>
                <a type="button" class="btn btn-primary btn-sm" href="{% url 'ticket_detail' post.id %}">Voir plus...</a>
            </div>
        </div>
        <div class="col-4">
            <div class="card-body border-1">
                {% if post.review_id is None %}
                    <p class="card-text">Vous voulez répondre ?</p>
                    <a type="button" class="btn btn-success" href="{% url 'ticket_respond' post.id %}">Poster une critique</a>
                {% else %}
                <p class="card-text">Ce ticket a déjà reçu une réponse</p>
                <a type="button" class="btn btn-primary" href="{% url 'ticket_detail' post.id %}">Voir la critique</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>