{% extends 'base.html' %}

{% block content %}
    <div class="container row px-5 my-5">
        <div class="col">
            <p>Pas encore de compte ? <a href="{% url 'register_view' %}">Inscrivez-vous !</a></p>
        </div>
        <div class="col">
        <form method="POST">
            {% csrf_token %}
            <div class="form-floating mb-3">
                <input class="form-control" id="nomDutilisateur" name='username' type="text" placeholder="Nom d&#x27;utilisateur" data-sb-validations="required" />
                <label for="nomDutilisateur">Nom d&#x27;utilisateur</label>
                <div class="invalid-feedback" data-sb-feedback="nomDutilisateur:required">Nom d&#x27;utilisateur is required.</div>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" id="motDePasse" name='password' type="password" placeholder="Mot de passe" data-sb-validations="required" />
                <label for="motDePasse">Mot de passe</label>
                <div class="invalid-feedback" data-sb-feedback="motDePasse:required">Mot de passe is required.</div>
            </div>

            <div class="d-grid">
                <button class="btn btn-primary btn-lg mt-3" id="submitButton" type="submit">Submit</button>
            </div>
        </form>
        </div>
        
    </div>
{% endblock content %}
