{% extends 'base.html' %}

{% block content %}
    <div class="container px-5 my-5">
        <form id="contactForm" data-sb-form-api-token="API_TOKEN"method="POST">
            {% csrf_token %}
            <div class="form-floating mb-3">
                {{user_form.username}}
                <label for={{user_form.username.id_for_label}}>Nom d'utilisateur</label>
            </div>
            {% if user_form.username.errors %}
                <div class="text-danger">{{ user_form.username.errors }}</div>
            {% endif %}
            <div class="form-floating mb-3">
                {{user_form.password1}}
                <label for={{user_form.password1.id_for_label}}>Mot de passe</label>
            </div>
            {% if user_form.password1.errors %}
                <div class="text-danger">{{ user_form.password1.errors }}</div>
            {% endif %}
            <div class="form-floating mb-3">
                {{user_form.password2}}
                <label for={{user_form.password2.id_for_label}}>Confirmez le mot de passe</label>
            </div>
            {% if user_form.password2.errors %}
                <div class="text-danger">{{ user_form.password2.errors }}</div>
            {% endif %}
            <div class="d-grid">
                <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Submit</button>
            </div>           
        </form>

    </div>
{% endblock content %}